#treninzi {
    padding-top: 7vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

.treninzi-naslov {
    text-align: left;
    font: Bold 38px/60px Poppins;
    color: #475677;
    margin-bottom: 2vw;
}